body.add-box-modal-active
{
  overflow: hidden;
}

.btn-add-box-container
{
  font-size: 45px;
  margin-right: 5px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.add-box-modal-form, .add-box-overlay-form
{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.add-box-overlay-form 
{
  background: #1D242B;
  opacity: 0.6;
}

.add-box-modal-form-content
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #FAFAFA;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.add-box-modal-form-close-btn
{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background: #FAFAFA;
  border: none;
  cursor: pointer;
}

.add-box-modal-form-ok-btn
{
  height: 30px;
  width: 60px;
  background: #0077C0;
  border: none;
  cursor: pointer;
}